@use "../variables";

.sanctuary-blog {
  background-color: variables.$ice;
  padding-bottom: 150px;
}

.blog-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: variables.$ice;
}

.blog-post {
  background-color: variables.$white;
  width: 60%;
  // -webkit-box-shadow: 8px 10px 0px 1px variables.$brightYellow;
  // box-shadow: 8px 10px 0px 1px variables.$brightYellow;
  -webkit-box-shadow: 20px 23px 0px -14px variables.$brightYellow;
  box-shadow: 20px 23px 0px -14x variables.$brightYellow;
  padding: 0 14px;
  position: relative;
  bottom: 185px;
}

.sidebar {
  width: 25%;
  background-color: variables.$brightYellow;
  -webkit-box-shadow: -15px 14px 0px 1px #f8fb05;
  box-shadow: -15px 14px 0px 1px #f8fb05;
  height: fit-content;
  position: relative;
  top: 140px;
  .sidebar-image-container {
    width: 100%;
    img {
      width: 100%;
    }
  }
  ul {
    list-style-type: disc;
    padding-top: 0;
  }
}

.blog-image-container {
  width: 100%;
  img {
    width: 100%;
  }
  .box-shadow {
    -webkit-box-shadow: 19px 20px 0px 1px variables.$brightYellow;
    box-shadow: 19px 20px 0px 1px variables.$brightYellow;
  }
}

.comments {
  background-color: variables.$ice;
  width: 60%;
  h3 {
    margin: 0;
  }
}

.blog-wrapper {
  width: 68%;
  margin: 0 auto;
  max-width: 1500px;
}

// Comment section

.comment-post {
  display: flex;
  margin: 0 0 100px 0;
  .comment-text-container {
    margin-left: 30px;
    .comment-date {
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      margin: 0;
    }
  }
}

.comment-form {
  .top-form {
    display: flex;
    justify-content: space-between;
    input {
      background-color: variables.$ice;
    }
  }

  button {
    background-color: variables.$everGreen;
    border: none;
    width: 100%;
    margin-top: 40px;
    text-transform: uppercase;
  }
  textarea {
    background-color: variables.$ice;
  }
}

.blog-footer {
  margin: 0;
}
