@use "./variables";

.wrapper {
  width: 90%;
  margin: 0 auto; //m0-a emmet
  max-width: 1500px;
}

.button,
button {
  font-family: variables.$mainFont;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
  background-color: variables.$everGreen;
  color: variables.$white;
  text-decoration: none;
  padding: 5px 10px;
}

section {
  overflow-x: clip;
}

input {
  width: 48%;
  border: 0;
  border-bottom: 2px solid variables.$everGreen;
  padding: 30px;
  &::placeholder {
    text-transform: uppercase;
    color: variables.$black;
  }
}

textarea {
  margin-top: 40px;
  border: 2px solid variables.$everGreen;
  padding: 30px;
  resize: none;
  width: 100%;

  &::placeholder {
    text-transform: uppercase;
    color: variables.$black;
  }
}

.hamburger-flex-container {
  display: block;
  position: absolute;
  justify-content: flex-end;
  padding: 10px 0 0 0;

  .hamburger-menu {
    text-align: right;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
}

a {
  color: variables.$black;
  text-decoration: none;
}
