@use "./variables";

header {
  background: url(../sanctuary-helpers-final-images/header-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar h1 {
  margin-top: 50px;
}

.nav-bar ul {
  display: flex;
  justify-content: flex-end;
}

.heading-block {
  display: block;
}

.header-image-container {
  position: relative;
  top: 185px;
  width: 55%;
  img {
    width: 100%;
  }
}
