@use "./variables";

@media (max-width: 1600px) {
  .groups-and-locations .flex-container {
    padding-bottom: 150px;
  }
}

// Smaller Desktop view

@media (max-width: 1200px) {
  // BLOG PAGE

  .comments {
    width: 90%;
  }
}

// Tablet View
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */

  .header-image-container {
    position: relative;
    top: 20px;
  }

  //   About Section

  .about {
    padding-top: 50px;
  }

  .about-flex-container {
    justify-content: center;
  }

  .about-image-container.feature-photo {
    margin-top: 30px;
  }

  //   Groups & Locations

  .groups-and-locations .flex-container {
    padding-bottom: 170px;
  }

  //   Style Section

  .style-container a {
    width: 100%;
  }

  // BLOG PAGE

  .blog-post {
    width: 100%;
    position: static;
    padding-top: 100px;
  }

  .blog-image-container {
    width: 75%;
    margin: 0 auto;
  }

  .sidebar {
    position: static;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    .sidebar-image-container {
      width: 65%;
      margin: 0 auto;
    }
  }

  .comments {
    width: 90%;
    margin: 50px auto 0;
    .blog-wrapper {
      width: 100%;
    }
  }
  // Contact Page
  .contact-form {
    padding-top: 50px;
    .wrapper {
      flex-direction: column;
      align-items: center;
      form {
        position: static;
        width: 100%;
      }
    }
  }

  .contact-info {
    margin-top: 25px;
    ul {
      justify-content: center;
    }
  }

  .contact-form .wrapper .contact-info {
    width: 100%;
    text-align: center;
  }
}

// Mobile View
@media (max-width: 500px) {
  //
}
