@use "./variables";

@media (max-width: 1700px) {
  // Index Page

  .groups-and-locations .flex-container {
    padding-bottom: 150px;
  }
}

// Smaller Desktop view

@media (max-width: 1200px) {
  // Home Page

  .about-text-container {
    width: 100%;
  }

  .feature-photo {
    width: 100%;
    text-align: center;
  }

  // BLOG PAGE

  .comments {
    width: 90%;
  }
}

// Tablet View
@media (max-width: 950px) {
  /* all of our styles for TABLET devices will go within this breakpoint */

  .header-image-container {
    position: static;
  }

  .nav-bar ul {
    display: none;
  }

  .nav-bar h1 {
    margin: 0;
    padding-top: 20px;
  }

  .hamburger-flex-container {
    position: static;
    .hamburger-menu {
      display: block;
    }
  }

  // Home page

  .features .wrapper {
    flex-direction: column;
    align-items: center;
    .feature-container {
      width: 100%;
    }
  }

  //   About Section (Home page)

  .about {
    padding-top: 50px;
  }

  .about-flex-container {
    justify-content: center;
  }

  .about-image-container.feature-photo {
    margin-top: 30px;
  }

  .about-text-container {
    text-align: center;
    p {
      width: 100%;
    }
  }

  //   Groups & Locations (Home page)

  .groups-and-locations .flex-container {
    padding-bottom: 170px;
  }

  .groups-and-locations-image-container:nth-child(1) {
    position: static;
  }

  .groups-and-locations-image-container:nth-child(4) {
    position: static;
  }

  .groups-and-locations-text-container {
    position: static;
    margin: 20px 0;
  }

  // Groups & Locations (Home Page)

  .groups-and-locations .flex-container {
    flex-direction: column;
    align-content: center;
  }

  .groups-and-locations-image-container:nth-child(1) .box-shadow {
    box-shadow: none;
    margin-top: 50px;
  }

  .groups-and-locations-text-container:nth-child(3) {
    text-align: center;
    order: 3;
  }

  .groups-and-locations-image-container:nth-child(4) .box-shadow {
    box-shadow: none;
  }

  .groups-and-locations-image-container,
  .groups-and-locations-text-container {
    width: 90%;
    text-align: center;
    margin: 20px;
  }

  .groups-and-locations .flex-container {
    padding-bottom: 15px;
  }

  .style-container {
    margin-top: 0;
  }

  //   Style Section

  .style-container a {
    width: 100%;
  }

  // END OF HOME PAGE

  // BLOG PAGE

  .blog-post {
    width: 100%;
    position: static;
    padding-top: 100px;
    box-shadow: none;
  }

  .blog-image-container {
    width: 75%;
    margin: 0 auto;
  }

  .sidebar {
    position: static;
    width: 75%;
    margin: 40px auto;
    text-align: center;
    box-shadow: none;
    .sidebar-image-container {
      width: 65%;
      margin: 0 auto;
    }
  }

  .comments {
    width: 90%;
    margin: 50px auto 0;
    .blog-wrapper {
      width: 100%;
    }
  }

  // End of blog Page

  // Contact Page
  .contact-form {
    padding-top: 50px;
    .wrapper {
      flex-direction: column;
      align-items: center;
      form {
        position: static;
        width: 100%;
      }
    }
  }

  .contact-info {
    margin-top: 25px;
    ul {
      justify-content: center;
    }
  }

  .contact-form .wrapper .contact-info {
    width: 100%;
    text-align: center;
  }
}

// Mobile View
@media (max-width: 550px) {
  // Typography
  h1 {
    font-size: 2rem;
  }

  ul {
    font-size: 0.6rem;
  }

  h2,
  h3 {
    font-size: 1.4rem;
  }

  //Blog Page
  .comment-form {
    .top-form {
      flex-direction: column;
      align-items: center;
      input {
        width: 100%;
      }
    }
  }

  // Contact

  .contact-top {
    flex-direction: column;
    align-items: center;
    input {
      width: 100%;
    }
  }

  .contact-info {
    ul {
      li {
        font-size: 20px;
      }
    }
  }

  // FOOTER

  footer {
    margin-top: 100px;
  }
}
