//Colours

$brightYellow: #f8fb05;
$everGreen: #065635;
$white: #f5f5f5;
$ice: #e0fddf;
$black: #151514;

// Fonts

$mainFont: "Kumar One", cursive;
$secondaryFont: "Lato", sans-serif;
$heading: "Kumar One Outline", cursive;
