@use "../variables";

// About Section

.about {
  padding-top: 220px;
}

.about-text-container {
  width: 75%;
  p {
    width: 90%;
  }
}

.about-image-container {
  .box-shadow {
    -webkit-box-shadow: -15px 14px 0px 1px variables.$brightYellow;
    box-shadow: -15px 14px 0px 1px variables.$brightYellow;
  }
}

.feature-photo {
  width: 20%;
  margin-left: 10px;
}

.about-flex-container {
  display: flex;
  padding-bottom: 90px;
  flex-wrap: wrap;
}

.about-image-gallery {
  background: variables.$ice;
  padding: 80px 0;
  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
