html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

.button,
button {
  font-family: "Kumar One", cursive;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
  background-color: #065635;
  color: #f5f5f5;
  text-decoration: none;
  padding: 5px 10px;
}

section {
  overflow-x: clip;
}

input {
  width: 48%;
  border: 0;
  border-bottom: 2px solid #065635;
  padding: 30px;
}
input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #151514;
}
input::-moz-placeholder {
  text-transform: uppercase;
  color: #151514;
}
input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #151514;
}
input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #151514;
}
input::placeholder {
  text-transform: uppercase;
  color: #151514;
}

textarea {
  margin-top: 40px;
  border: 2px solid #065635;
  padding: 30px;
  resize: none;
  width: 100%;
}
textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #151514;
}
textarea::-moz-placeholder {
  text-transform: uppercase;
  color: #151514;
}
textarea:-ms-input-placeholder {
  text-transform: uppercase;
  color: #151514;
}
textarea::-ms-input-placeholder {
  text-transform: uppercase;
  color: #151514;
}
textarea::placeholder {
  text-transform: uppercase;
  color: #151514;
}

.hamburger-menu {
  background: transparent;
  border: 0;
  color: #151514;
  margin: 0;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
  text-align: right;
}
.hamburger-menu:focus {
  outline: none;
}

a {
  color: #151514;
  text-decoration: none;
}

html {
  font-size: 125%;
}

ul {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0;
  padding-top: 25px;
}
ul li {
  letter-spacing: 1.4px;
  line-height: 29px;
  margin-right: 60px;
}
ul li a {
  text-decoration: none;
  color: #151514;
  text-transform: uppercase;
}

h1 {
  margin: 0;
  font-family: "Kumar One Outline", cursive;
  line-height: 64px;
  font-size: 3.4rem;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: "Kumar One", cursive;
  font-size: 1.65rem;
  line-height: 58px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.logo {
  font-size: 1.1rem;
  line-height: 24px;
  letter-spacing: 1.2px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}

input {
  font-family: "Lato", sans-serif;
  color: #151514;
}

header.index {
  background: url(../sanctuary-helpers-final-images/header-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.blog {
  background: url(../sanctuary-helpers-final-images/blog-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}
header.blog .nav-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header.blog h2 {
  margin-bottom: 150px;
}

header.contact {
  background: url(../sanctuary-helpers-final-images/contact-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
header.contact .nav-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header.contact h1 {
  margin-top: 100px;
}

.nav-bar h1 {
  margin-top: 50px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-top: 20px;
}
.nav-list li:hover {
  -webkit-box-shadow: inset 0 -2px 0 0 #f8fb05;
          box-shadow: inset 0 -2px 0 0 #f8fb05;
}

.heading-block {
  display: block;
}

.header-image-container {
  position: relative;
  top: 185px;
  width: 55%;
}
.header-image-container img {
  width: 100%;
}

.about {
  padding-top: 220px;
}

.about-text-container {
  width: 75%;
}
.about-text-container p {
  width: 90%;
}

.about-image-container .box-shadow {
  -webkit-box-shadow: -15px 14px 0px 1px #f8fb05;
  box-shadow: -15px 14px 0px 1px #f8fb05;
}

.feature-photo {
  width: 20%;
  margin-left: 10px;
}

.about-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 90px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-image-gallery {
  background: #e0fddf;
  padding: 80px 0;
}
.about-image-gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.features {
  padding-bottom: 120px;
}
.features .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features .wrapper .feature-container {
  width: 50%;
}
.features i {
  background: #f8fb05;
  border-radius: 50%;
  padding: 8px;
  position: relative;
  top: 38px;
  margin-right: 10px;
}

.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature-container h3 {
  margin-bottom: 0;
}
.feature-container p {
  margin-top: 0;
}

.groups-and-locations .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e0fddf;
}
.groups-and-locations img {
  width: 100%;
}

.groups-and-locations-image-container,
.groups-and-locations-text-container {
  width: 42%;
}

.groups-and-locations-image-container:nth-child(1) {
  position: relative;
  bottom: 50px;
}
.groups-and-locations-image-container:nth-child(1) .box-shadow {
  -webkit-box-shadow: 19px 20px 0px 1px #f8fb05;
  box-shadow: 19px 20px 0px 1px #f8fb05;
}

.groups-and-locations-image-container:nth-child(4) {
  position: relative;
  top: 60px;
}
.groups-and-locations-image-container:nth-child(4) .box-shadow {
  -webkit-box-shadow: -18px 18px 0px 1px #f8fb05;
  box-shadow: -18px 18px 0px 1px #f8fb05;
}

.groups-and-locations-text-container {
  position: relative;
  top: 100px;
}

.groups-and-locations-text-container:nth-child(3) {
  text-align: right;
}

.style-container {
  margin-top: 200px;
}
.style-container h2 {
  text-align: center;
}
.style-container a {
  width: 15%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.sanctuary-blog {
  background-color: #e0fddf;
  padding-bottom: 150px;
}

.blog-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e0fddf;
}

.blog-post {
  background-color: #f5f5f5;
  width: 60%;
  -webkit-box-shadow: 20px 23px 0px -14px #f8fb05;
  box-shadow: 20px 23px 0px -14x #f8fb05;
  padding: 0 14px;
  position: relative;
  bottom: 185px;
}

.sidebar {
  width: 25%;
  background-color: #f8fb05;
  -webkit-box-shadow: -15px 14px 0px 1px #f8fb05;
  box-shadow: -15px 14px 0px 1px #f8fb05;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 140px;
}
.sidebar .sidebar-image-container {
  width: 100%;
}
.sidebar .sidebar-image-container img {
  width: 100%;
}
.sidebar ul {
  list-style-type: disc;
  padding-top: 0;
}

.blog-image-container {
  width: 100%;
}
.blog-image-container img {
  width: 100%;
}
.blog-image-container .box-shadow {
  -webkit-box-shadow: 19px 20px 0px 1px #f8fb05;
  box-shadow: 19px 20px 0px 1px #f8fb05;
}

.comments {
  background-color: #e0fddf;
  width: 60%;
}
.comments h3 {
  margin: 0;
}

.blog-wrapper {
  width: 68%;
  margin: 0 auto;
  max-width: 1500px;
}

.comment-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 100px 0;
}
.comment-post .comment-text-container {
  margin-left: 30px;
}
.comment-post .comment-text-container .comment-date {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.comment-post .comment-text-container p {
  margin: 0;
}

.comment-form .top-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comment-form .top-form input {
  background-color: #e0fddf;
}
.comment-form button {
  background-color: #065635;
  border: none;
  width: 100%;
  margin-top: 40px;
  text-transform: uppercase;
}
.comment-form textarea {
  background-color: #e0fddf;
}

.blog-footer {
  margin: 0;
}

.contact-form {
  background-color: #e0fddf;
  padding-bottom: 50px;
}
.contact-form .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-form .wrapper form {
  width: 70%;
  position: relative;
  bottom: 190px;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 19px 20px 0px 1px #f8fb05;
  box-shadow: 19px 20px 0px 1px #f8fb05;
}
.contact-form .wrapper .contact-info {
  width: 20%;
}

.contact-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #065635;
  padding: 15% 0 0 0;
}
.contact-info ul li {
  margin: 10px;
}
.contact-info .address p {
  margin: 0;
}

.contact-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-top input {
  width: 48%;
}

button {
  width: 100%;
  margin-top: 50px;
}

footer.contact-footer {
  margin: 0;
}

footer {
  background: #151514;
  color: #f5f5f5;
  margin-top: 250px;
}
footer p {
  margin: 0;
  text-align: center;
}

@media (max-width: 1700px) {
  .groups-and-locations .flex-container {
    padding-bottom: 150px;
  }
}
@media (max-width: 1200px) {
  .about-text-container {
    width: 100%;
  }
  .feature-photo {
    width: 100%;
    text-align: center;
  }
  .comments {
    width: 90%;
  }
}
@media (max-width: 950px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
  .header-image-container {
    position: static;
  }
  .nav-list {
    display: none;
    width: 100%;
  }
  .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamburger-menu {
    display: block;
    padding-top: 10px;
  }
  .nav-bar h1 {
    margin: 0;
    padding-top: 20px;
  }
  .features .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features .wrapper .feature-container {
    width: 100%;
  }
  .about {
    padding-top: 50px;
  }
  .about-flex-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-image-container.feature-photo {
    margin-top: 30px;
  }
  .about-text-container {
    text-align: center;
  }
  .about-text-container p {
    width: 100%;
  }
  .groups-and-locations .flex-container {
    padding-bottom: 170px;
  }
  .groups-and-locations-image-container:nth-child(1) {
    position: static;
  }
  .groups-and-locations-image-container:nth-child(4) {
    position: static;
  }
  .groups-and-locations-text-container {
    position: static;
    margin: 20px 0;
  }
  .groups-and-locations .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .groups-and-locations-image-container:nth-child(1) .box-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 50px;
  }
  .groups-and-locations-text-container:nth-child(3) {
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .groups-and-locations-image-container:nth-child(4) .box-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .groups-and-locations-image-container,
.groups-and-locations-text-container {
    width: 90%;
    text-align: center;
    margin: 20px;
  }
  .groups-and-locations .flex-container {
    padding-bottom: 15px;
  }
  .style-container {
    margin-top: 0;
  }
  .style-container a {
    width: 100%;
  }
  .blog-post {
    width: 100%;
    position: static;
    padding-top: 100px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blog-image-container {
    width: 75%;
    margin: 0 auto;
  }
  .sidebar {
    position: static;
    width: 75%;
    margin: 40px auto;
    text-align: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sidebar .sidebar-image-container {
    width: 65%;
    margin: 0 auto;
  }
  .comments {
    width: 90%;
    margin: 50px auto 0;
  }
  .comments .blog-wrapper {
    width: 100%;
  }
  .contact-form {
    padding-top: 50px;
  }
  .contact-form .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-form .wrapper form {
    position: static;
    width: 100%;
  }
  .contact-info {
    margin-top: 25px;
  }
  .contact-info ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-form .wrapper .contact-info {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }
  ul {
    font-size: 0.8rem;
    padding-left: 0;
  }
  ul li {
    margin: 0;
  }
  h2,
h3 {
    font-size: 1.4rem;
  }
  .comment-form .top-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comment-form .top-form input {
    width: 100%;
  }
  .contact-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-top input {
    width: 100%;
  }
  .contact-info ul li {
    font-size: 20px;
  }
  footer {
    margin-top: 100px;
  }
}